@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'San Francisco', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #3a3a3d #0f0f16;
}

.scroll-box {
  overflow-x: hidden;
  -ms-overflow-style: none;
}

.scroll-box::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 500;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff');
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 600;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff');
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 700;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff');
}

@layer components {
  .rightMain {
    @apply grow bg-backgroundNavy text-white flex flex-col relative;
  }
}
