@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'San Francisco', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #3a3a3d #0f0f16;
}

.scroll-box {
  overflow-x: hidden;
  -ms-overflow-style: none;
}

.scroll-box::-webkit-scrollbar {
  display: none;
}

.scroll-modal {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-modal::-webkit-scrollbar {
  display: none;
}

/* 모달이 열릴 때 초기 스타일 */
.modal-content {
  opacity: 0;
  transform: scale(0.9); /* 약간 축소된 상태에서 시작 */
  transition: opacity 400ms ease, transform 400ms ease;
}

.modal-content.ReactModal__Content--after-open {
  opacity: 1;
  transform: scale(1); /* 원래 크기로 */
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 500;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff');
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 600;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff');
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 700;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff');
}

input {
  outline: none;
  appearance: none;
  background: transparent;
}

@layer components {
  .rightMain {
    @apply grow bg-backgroundNavy text-white flex flex-col relative;
  }

  /* 프로젝트에 기본적으로 적용되는 자간과 행간의 기준치를 의미 */
  .normalFont {
    @apply leading-[22px] tracking-[0.1px];
  }
}
